<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms and Condition</title>
</head>
<body>
<h1>Terms and Conditions</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Cras pharetra dolor id libero facilisis vehicula. In convallis, leo ac tincidunt sagittis, mauris sem faucibus erat, pulvinar tincidunt odio elit nec ligula.
    Proin laoreet ipsum sollicitudin, pharetra lectus at, mattis diam. Cras elementum neque id justo accumsan volutpat.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse accumsan, leo quis rhoncus imperdiet, ante velit dignissim libero, sed rhoncus lorem quam sed lorem.
    In hac habitasse platea dictumst. Suspendisse potenti. Morbi quis dui ultricies, lacinia odio auctor, consectetur dui. Quisque lobortis orci velit, sit amet tincidunt tellus porttitor ac. In hac habitasse platea dictumst.
    Nullam in turpis aliquam, interdum ipsum in, pellentesque justo. Curabitur commodo consequat est ut gravida. Morbi lacus massa, accumsan in ornare quis, elementum et leo. Nulla ultricies aliquet ipsum.</p>
</body>
</html>